.float-left{ 
	float: left;
}
.float-right{ 
	float: right;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.text-justify{
	text-align: justify;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
/*.thumb{
	overflow: hidden;
}
.thumb img{
	width: 100%;
	height: auto;
*/